/* styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
  color: #4caf50;
}

h2 {
  font-size: 1.5em;
  color: #333;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  color: #4caf50;
  margin-top: 20px;
}

p,
ul,
ol {
  margin: 15px 0;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

pre {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

code {
  background-color: #f1f1f1;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
  color: #d63384;
}

.introduction,
.setup,
.blendvision,
.ui,
.navigation,
.backend,
.performance,
.conclusion,
.faqs {
  margin-bottom: 40px;
}
.img1 {
  margin-left: 30px;
  margin-right: 10px;
}
.ppp {
  margin-left: 100px;
}
